<div class="container" id="notebook-container">
    <div class="cell border-box-sizing code_cell rendered">
        <div class="input">
            <div class="prompt input_prompt">In&nbsp;[18]:</div>
            <div class="inner_cell">
                <div class="input_area">
                    <div class=" highlight hl-ipython3">
                        <pre><span></span><span class="n">countries</span> <span class="o">=</span> <span class="n">country_df</span><span class="p">[</span><span class="s1">&#39;country&#39;</span><span class="p">]</span><span class="o">.</span><span class="n">unique</span><span class="p">()</span>
<span class="nb">print</span><span class="p">(</span><span class="sa">f</span><span class="s1">&#39;</span><span class="si">{</span><span class="nb">len</span><span class="p">(</span><span class="n">countries</span><span class="p">)</span><span class="si">}</span><span class="s1"> countries are in dataset:</span><span class="se">\n</span><span class="si">{</span><span class="n">countries</span><span class="si">}</span><span class="s1">&#39;</span><span class="p">)</span></pre>
                    </div>

                </div>
            </div>
        </div>

        <div class="output_wrapper">
            <div class="output">


                <div class="output_area">

                    <div class="prompt"></div>


                    <div class="output_subarea output_stream output_stdout output_text">
                        <pre>192 countries are in dataset:
[&#39;Afghanistan&#39; &#39;Albania&#39; &#39;Algeria&#39; &#39;Andorra&#39; &#39;Angola&#39;
 &#39;Antigua and Barbuda&#39; &#39;Argentina&#39; &#39;Armenia&#39; &#39;Australia&#39; &#39;Austria&#39;
 &#39;Azerbaijan&#39; &#39;Bahamas&#39; &#39;Bahrain&#39; &#39;Bangladesh&#39; &#39;Barbados&#39; &#39;Belarus&#39;
 &#39;Belgium&#39; &#39;Belize&#39; &#39;Benin&#39; &#39;Bhutan&#39; &#39;Bolivia&#39; &#39;Bosnia and Herzegovina&#39;
 &#39;Botswana&#39; &#39;Brazil&#39; &#39;Brunei&#39; &#39;Bulgaria&#39; &#39;Burkina Faso&#39; &#39;Burma&#39; &#39;Burundi&#39;
 &#39;Cabo Verde&#39; &#39;Cambodia&#39; &#39;Cameroon&#39; &#39;Canada&#39; &#39;Central African Republic&#39;
 &#39;Chad&#39; &#39;Chile&#39; &#39;China&#39; &#39;Colombia&#39; &#39;Comoros&#39; &#39;Congo (Brazzaville)&#39;
 &#39;Congo (Kinshasa)&#39; &#39;Costa Rica&#39; &#34;Cote d&#39;Ivoire&#34; &#39;Croatia&#39; &#39;Cuba&#39; &#39;Cyprus&#39;
 &#39;Czechia&#39; &#39;Denmark&#39; &#39;Diamond Princess&#39; &#39;Djibouti&#39; &#39;Dominica&#39;
 &#39;Dominican Republic&#39; &#39;Ecuador&#39; &#39;Egypt&#39; &#39;El Salvador&#39; &#39;Equatorial Guinea&#39;
 &#39;Eritrea&#39; &#39;Estonia&#39; &#39;Eswatini&#39; &#39;Ethiopia&#39; &#39;Fiji&#39; &#39;Finland&#39; &#39;France&#39;
 &#39;Gabon&#39; &#39;Gambia&#39; &#39;Georgia&#39; &#39;Germany&#39; &#39;Ghana&#39; &#39;Greece&#39; &#39;Grenada&#39;
 &#39;Guatemala&#39; &#39;Guinea&#39; &#39;Guinea-Bissau&#39; &#39;Guyana&#39; &#39;Haiti&#39; &#39;Holy See&#39;
 &#39;Honduras&#39; &#39;Hungary&#39; &#39;Iceland&#39; &#39;India&#39; &#39;Indonesia&#39; &#39;Iran&#39; &#39;Iraq&#39;
 &#39;Ireland&#39; &#39;Israel&#39; &#39;Italy&#39; &#39;Jamaica&#39; &#39;Japan&#39; &#39;Jordan&#39; &#39;Kazakhstan&#39;
 &#39;Kenya&#39; &#39;Korea, South&#39; &#39;Kosovo&#39; &#39;Kuwait&#39; &#39;Kyrgyzstan&#39; &#39;Laos&#39; &#39;Latvia&#39;
 &#39;Lebanon&#39; &#39;Lesotho&#39; &#39;Liberia&#39; &#39;Libya&#39; &#39;Liechtenstein&#39; &#39;Lithuania&#39;
 &#39;Luxembourg&#39; &#39;MS Zaandam&#39; &#39;Madagascar&#39; &#39;Malawi&#39; &#39;Malaysia&#39; &#39;Maldives&#39;
 &#39;Mali&#39; &#39;Malta&#39; &#39;Marshall Islands&#39; &#39;Mauritania&#39; &#39;Mauritius&#39; &#39;Mexico&#39;
 &#39;Micronesia&#39; &#39;Moldova&#39; &#39;Monaco&#39; &#39;Mongolia&#39; &#39;Montenegro&#39; &#39;Morocco&#39;
 &#39;Mozambique&#39; &#39;Namibia&#39; &#39;Nepal&#39; &#39;Netherlands&#39; &#39;New Zealand&#39; &#39;Nicaragua&#39;
 &#39;Niger&#39; &#39;Nigeria&#39; &#39;North Macedonia&#39; &#39;Norway&#39; &#39;Oman&#39; &#39;Pakistan&#39; &#39;Panama&#39;
 &#39;Papua New Guinea&#39; &#39;Paraguay&#39; &#39;Peru&#39; &#39;Philippines&#39; &#39;Poland&#39; &#39;Portugal&#39;
 &#39;Qatar&#39; &#39;Romania&#39; &#39;Russia&#39; &#39;Rwanda&#39; &#39;Saint Kitts and Nevis&#39; &#39;Saint Lucia&#39;
 &#39;Saint Vincent and the Grenadines&#39; &#39;Samoa&#39; &#39;San Marino&#39;
 &#39;Sao Tome and Principe&#39; &#39;Saudi Arabia&#39; &#39;Senegal&#39; &#39;Serbia&#39; &#39;Seychelles&#39;
 &#39;Sierra Leone&#39; &#39;Singapore&#39; &#39;Slovakia&#39; &#39;Slovenia&#39; &#39;Solomon Islands&#39;
 &#39;Somalia&#39; &#39;South Africa&#39; &#39;South Sudan&#39; &#39;Spain&#39; &#39;Sri Lanka&#39; &#39;Sudan&#39;
 &#39;Suriname&#39; &#39;Sweden&#39; &#39;Switzerland&#39; &#39;Syria&#39; &#39;Taiwan*&#39; &#39;Tajikistan&#39;
 &#39;Tanzania&#39; &#39;Thailand&#39; &#39;Timor-Leste&#39; &#39;Togo&#39; &#39;Trinidad and Tobago&#39;
 &#39;Tunisia&#39; &#39;Turkey&#39; &#39;US&#39; &#39;Uganda&#39; &#39;Ukraine&#39; &#39;United Arab Emirates&#39;
 &#39;United Kingdom&#39; &#39;Uruguay&#39; &#39;Uzbekistan&#39; &#39;Vanuatu&#39; &#39;Venezuela&#39; &#39;Vietnam&#39;
 &#39;West Bank and Gaza&#39; &#39;Yemen&#39; &#39;Zambia&#39; &#39;Zimbabwe&#39;]</pre>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>