<div class="container" id="notebook-container">
    <div class="cell border-box-sizing code_cell rendered">
        <div class="input">
            <div class="prompt input_prompt">In&nbsp;[21]:</div>
            <div class="inner_cell">
                <div class="input_area">
                    <div class=" highlight hl-ipython3">
                        <pre><span></span><span class="n">top_country_df</span> <span class="o">=</span> <span class="n">country_df</span><span class="o">.</span><span class="n">query</span><span class="p">(</span><span class="s1">&#39;(date == @target_date) &amp; (confirmed &gt; 1000)&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">sort_values</span><span class="p">(</span><span class="s1">&#39;confirmed&#39;</span><span class="p">,</span> <span class="n">ascending</span><span class="o">=</span><span class="kc">False</span><span class="p">)</span>
        <span class="n">top_country_melt_df</span> <span class="o">=</span> <span class="n">pd</span><span class="o">.</span><span class="n">melt</span><span class="p">(</span><span class="n">top_country_df</span><span class="p">,</span> <span class="n">id_vars</span><span class="o">=</span><span class="s1">&#39;country&#39;</span><span class="p">,</span> <span class="n">value_vars</span><span class="o">=</span><span class="p">[</span><span class="s1">&#39;confirmed&#39;</span><span class="p">,</span> <span class="s1">&#39;fatalities&#39;</span><span class="p">])</span>
        <span class="n">fig</span> <span class="o">=</span> <span class="n">px</span><span class="o">.</span><span class="n">bar</span><span class="p">(</span><span class="n">top_country_melt_df</span><span class="o">.</span><span class="n">iloc</span><span class="p">[::</span><span class="o">-</span><span class="mi">1</span><span class="p">],</span>
                     <span class="n">x</span><span class="o">=</span><span class="s1">&#39;value&#39;</span><span class="p">,</span> <span class="n">y</span><span class="o">=</span><span class="s1">&#39;country&#39;</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="s1">&#39;variable&#39;</span><span class="p">,</span> <span class="n">barmode</span><span class="o">=</span><span class="s1">&#39;group&#39;</span><span class="p">,</span>
                     <span class="n">title</span><span class="o">=</span><span class="sa">f</span><span class="s1">&#39;Confirmed Cases/Deaths on </span><span class="si">{</span><span class="n">target_date</span><span class="si">}</span><span class="s1">&#39;</span><span class="p">,</span> <span class="n">text</span><span class="o">=</span><span class="s1">&#39;value&#39;</span><span class="p">,</span> <span class="n">height</span><span class="o">=</span><span class="mi">1500</span><span class="p">,</span> <span class="n">orientation</span><span class="o">=</span><span class="s1">&#39;h&#39;</span><span class="p">)</span>
        <span class="n">fig</span><span class="o">.</span><span class="n">show</span><span class="p">()</span>
        </pre>
                    </div>

                </div>
            </div>
        </div>
        <div class="output_wrapper">
            <div class="output">
                <div class="output_area">
                    <div class="prompt"></div>
                    <div class="output_html rendered_html output_subarea ">
                        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless"
                            src="https://plotly.com/~blueskyson1401/11.embed?autosize=true" height="1000"
                            width="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>