<div class="container" id="notebook-container">
    <div class="cell border-box-sizing code_cell rendered">
        <div class="input">
            <div class="prompt input_prompt">In&nbsp;[36]:</div>
            <div class="inner_cell">
                <div class="input_area">
            <div class=" highlight hl-ipython3"><pre><span></span><span class="n">fig</span> <span class="o">=</span> <span class="n">px</span><span class="o">.</span><span class="n">line</span><span class="p">(</span><span class="n">train_europe_march</span><span class="p">,</span> <span class="n">x</span><span class="o">=</span><span class="s1">&#39;date&#39;</span><span class="p">,</span> <span class="n">y</span><span class="o">=</span><span class="s1">&#39;fatalities&#39;</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="s1">&#39;country&#39;</span><span class="p">,</span> <span class="n">title</span><span class="o">=</span><span class="sa">f</span><span class="s1">&#39;Fatalities by country in Europe, as of </span><span class="si">{</span><span class="n">target_date</span><span class="si">}</span><span class="s1">&#39;</span><span class="p">)</span>
<span class="n">fig</span><span class="o">.</span><span class="n">show</span><span class="p">()</span></pre></div>
                </div>
            </div>
        </div>
        <div class="output_wrapper">
            <div class="output">
                <div class="output_area">
                    <div class="prompt"></div>
                    <div class="output_html rendered_html output_subarea ">
                        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless"
                            src="https://plotly.com/~blueskyson1401/42.embed?autosize=true" height="525"
                            width="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>